# Ambiente virtual
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Variáveis de ambiente (SENHAS, CHAVES)
.env

# Banco de dados local
*.sqlite3
*.db

# Pasta instance (Flask usa pra configs e db)
instance/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log