/* IMPORTAÇÃO DA FONTE INTER */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* RESET GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONFIGURAÇÕES GLOBAIS */
body {
    font-family: 'Inter', sans-serif;
}