<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRO DE PONTOS</title>
</head>
<body>
    <h1>Cadastrar Ponto de Coleta</h1>
    <form method="post">
        <label for="nome_ponto">Nome do Ponto:</label>
        <input type="text" name="nome_ponto" id="nome_ponto" required>

        <label for="endereco_ponto">Endereço:</label>
        <input type="text" name="endereco_ponto" id="endereco_ponto" required>

        <label for="materias_ponto">Materais Aceitos:</label>
        <input type="text" name="materias_ponto" id="materias_ponto" placeholder="Ex: pilhas, baterias, eletronicos" required>

        <label for="horario_ponto">Horário de funcionamento:</label>
        <input type="text" name="horario_ponto" id="horario_ponto" placeholder="Ex: 08h ás 18h" required>

        <input type="hidden" name="latitude" id = "latitude">
        <input type = "hidden" name="longitude" id = "longitude">

        <p>Para que o seu ponto possa parecer no mapa dos nossos usuarios clique em <b>Usar minha locazação</b></p>
        <button type="button" id="btn-localizacao">Usar minha localização</button>

        <button type="submit" id="btn-cadastrar">Cadastrar Ponto</button>

        <script src="{{ url_for('static', filename='js/cadastro_ponto.js') }}"></script>
    </form>
    
</body>
</html>