<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        HOME COLETOR
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_coletor.css') }}">

</head>

<body>
    <!-- FLASH MESSAGES -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="flash-container">
        {% for message in messages %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="container">

        <!-- SIDEBAR -->

        <aside class="sidebar">

            <div class="sidebar-top">

                <!-- LOGO -->

                <div class="logo">

                    <img src="{{ url_for('static', filename='img/logo_projeto.png') }}" alt="Logo EnergyTrans">

                </div>

                <!-- AÇÕES -->

                <h3 class="ponto_coleta">
                    Pontos de Coleta
                </h3>

                <div class="acoes">

                    <button type="button" class="btn-adicionar" id="abrir-modal-cadastro">
                        Adicionar ponto
                    </button>

                    <!-- FORM EXCLUIR -->

                    <form method="POST" action="{{ url_for('main.home_coletor') }}" class="form-deletar">

                        <select name="ponto_id" required>

                            <option value="">
                                Selecione o ponto
                            </option>

                            {% for ponto in pontos %}

                            <option value="{{ ponto.id }}">
                                {{ ponto.nome }}
                            </option>

                            {% endfor %}

                        </select>

                        <button type="submit" class="btn-deletar">
                            Excluir ponto
                        </button>

                    </form>

                </div>

            </div>

            <!-- MENU -->

            <nav class="menu">

                <a href="{{url_for('main.home_coletor')}}" class="menu_home_coletor">
                    <img src="{{ url_for('static', filename='img/menu_barra.png') }}" alt="">
                </a>

                <a href="#">
                    <img src="{{ url_for('static', filename='img/menu_agendamentos.png') }}" alt="">
                </a>

            </nav>

        </aside>

        <!-- CONTEÚDO -->

        <main class="main">

            <div class="lista-pontos">

                {% for ponto in pontos %}

                <div class="card-ponto">

                    <h2>

                        {{ ponto.nome }}

                    </h2>

                    <p>

                        <strong>
                            Endereço:
                        </strong>

                        {{ ponto.endereco }}

                    </p>

                    <p>

                        <strong>
                            Horário:
                        </strong>

                        {{ ponto.horario_funcionamento }}

                    </p>

                    <p>

                        <strong>
                            Materiais:
                        </strong>

                        {{ ponto.materiais_aceitos }}

                    </p>

                    <div class="acoes-card">

                        <button class="btn-editar" data-id="{{ ponto.id }}" data-nome="{{ ponto.nome }}"
                            data-endereco="{{ ponto.endereco }}" data-materiais="{{ ponto.materiais_aceitos }}"
                            data-horario="{{ ponto.horario_funcionamento }}">

                            Editar

                        </button>

                    </div>

                </div>

                {% endfor %}

            </div>

        </main>

    </div>

    <!-- MODAL -->

    <div id="modal-overlay" style="display: none;">

        <div class="modal">

            <!-- FECHAR -->

            <button type="button" class="btn-fechar" id="fechar-modal">

                ✕

            </button>

            <h2>

                Editar ponto de coleta

            </h2>

            <!-- FORM -->

            <form method="POST" action="{{ url_for('main.editar_ponto') }}">

                <!-- ID -->

                <input type="hidden" name="ponto_id" id="ponto_id">

                <!-- NOME -->

                <label for="nome_ponto">

                    Nome do ponto

                </label>

                <input type="text" name="nome_ponto" id="nome_ponto" required>

                <!-- ENDEREÇO -->

                <label for="endereco_ponto">

                    Endereço

                </label>

                <input type="text" name="endereco_ponto" id="endereco_ponto" required>

                <!-- MATERIAIS -->

                <label for="materias_ponto">

                    Materiais aceitos

                </label>

                <input type="text" name="materias_ponto" id="materias_ponto"
                    placeholder="Ex: Pilhas, Baterias, Celulares" required>

                <!-- HORÁRIO -->

                <label for="horario_ponto">

                    Horário de funcionamento

                </label>

                <input type="text" name="horario_ponto" id="horario_ponto" placeholder="Ex: 08:00 às 18:00" required>

                <!-- BOTÃO -->

                <button type="submit" class="btn-confirmar">

                    Salvar alterações

                </button>

            </form>

        </div>

    </div>

    <div id="modal-cadastro" class="modal-overlay" style="display:none;">

        <div class="modal">

            <button type="button" class="btn-fechar" id="fechar-modal-cadastro">
                ✕
            </button>

            <h2>
                Novo Ponto de Coleta
            </h2>

            <form method="POST" action="{{ url_for('main.cadastrar_ponto') }}">

                <label>
                    Nome do ponto
                </label>

                <input type="text" name="nome_ponto" required>

                <label>
                    Endereço
                </label>

                <input type="text" name="endereco_ponto" required>

                <label>
                    Materiais aceitos
                </label>

                <input type="text" name="materias_ponto" placeholder="Pilhas, Baterias, Celulares" required>

                <label>
                    Horário de funcionamento
                </label>

                <input type="text" name="horario_ponto" placeholder="08:00 às 18:00" required>

                <input type="hidden" name="latitude" id="latitude">

                <input type="hidden" name="longitude" id="longitude">
                <p>Para que o seu ponto possa parecer no mapa dos nossos usuarios clique em <b>Usar minha
                        locazação</b></p>

                <button type="button" id="btn-localizacao">Usar minha localização</button>

                <button type="submit" class="btn-confirmar">
                    Criar
                </button>

            </form>

        </div>

    </div>

    <!-- JS -->

    <script src="{{ url_for('static', filename='js/home_coletor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flash.js') }}"></script>

</body>

</html>